* {
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: rgb(39, 124, 60);
    height: 50px;
    border-bottom: 3px solid rgb(121, 79, 55);
    border-top: 3px solid rgb(121, 79, 55);
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

h1,
h2 {
    text-align: center;
    padding: 10px;
}

.top {
    color: white;
    margin-right: auto;
    text-align: right;
    line-height: 50px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background-color: beige;

}

img {
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgb(121, 79, 55);
    width: 200px;
}

p {
    padding: 20px;
    text-align: center;
}

li {
    display: block;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

a {
    text-decoration: none;
    color: #FDF8F5;
}



h2 {
    text-shadow: 1px 1px 1px black;
}

.contact {
    text-align: center;
    padding-top: 9px;
    color: white;
    background-color: #cfb09e;
    height: 150px;
    border-top: 2px solid rgb(121, 79, 55);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid rgb(121, 79, 55);
    border-radius: 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0px 10px;
}