
header {
    background-color: rgb(39, 124, 60);
    height: 50px;
}

* {
    margin: 0;
    padding: 0;
}

.top {
    color: white;
    margin-right: auto;
    text-align: right;
    line-height: 50px;
}

section {
    background-color: beige;
    height: 500px;
}

img {
    display: block;
    margin: 0 auto;
}

.h1 {
    text-align: center;
}

p {
    text-align: center;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #FDF8F5;
  }